<app-header></app-header>
<main [ngClass]="'container'">
    <div [ngClass]="'row'">
        <div [ngClass]="'col-12'">
            <i>{{message}}</i><br>
            <form (submit)="onLogin()" [formGroup]="loginForm">
                <input type="text" name="username" placeholder="Username" formControlName="username"><br>
                <input type="password" name="password" placeholder="Password" formControlName="password"><br>
                <button type="submit" [disabled]="loginForm.invalid" class="good_button">Login</button>
            </form>    
        </div>
    </div>
</main>
<app-footer></app-footer>
