<app-main-header></app-main-header>
<main [ngClass]="'container'">
    <section [ngClass]="'row'">
        <article *ngFor="let book of books | filter: 'checkout.membership.idUser': getUser()?.id" [ngClass]="'col-lg-4 col-sm-12'">
            <p>Title: {{book.title}}</p>
            <p>Genre: {{book.genre.type}}</p>
            <p>Author: {{book.author.name}} {{book.author.surname}}</p>
            <p>Checkout date: {{book.checkout?.checkoutDate?.checkoutDate.toISOString().split('T')[0]}}</p>
            <p>Return date: {{book.checkout?.checkoutDate?.returnDate.toISOString().split('T')[0]}}</p>
            <button (click)="onReturn(book.id)" class="good_button">Return</button>
        </article>
    </section>
</main>
<app-footer></app-footer>
