<app-admin-header></app-admin-header>
<main [ngClass]="'container'">
    <section [ngClass]="'row'">
        <article *ngFor="let user of users">
            <div [ngClass]="'col-6'">
                <p>Username: {{user.username}}</p>
                <p>Name: {{user.name}}</p>
                <p>Surname: {{user.surname}}</p>
                <button (click)="changeMemTypeById(user.id, user.memType)">{{user.memType}}</button><br>
                <button (click)="onDelete(user.id)">Delete</button>
            </div>
        </article>
    </section>
</main>
<app-footer></app-footer>